<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data.title%></title>
    <style>
        img{
            width: 500px;
        }
    </style>
</head>
<body>
    <h2>Edit the Listing:</h2>
    <img src="<%=data.image%>" alt="hotel image"><br><br>
    <form method="post" action="/listings/edit/<%=data._id%>?_method=PATCH">
        <label for="title">Title:</label>
        <input id="title" name="title" value="<%=data.title%>" type="text"><br><br>
        <label for="description">Description:</label>
        <textarea rows="3" cols="100" name="description" id="description"><%=data.description%></textarea><br><br>
        <label for="image">Image Link:</label>
        <textarea rows="3" cols="90" name="image" id="image"><%=data.image%></textarea><br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" value="<%=data.price%>" name="price"><br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" value="<%=data.location%>" name="location"><br><br>
        <label for="country">Country:</label>
        <input type="text" id="country" value="<%=data.country%>" name="country"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>