<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head> -->
<%-layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8">
        <h3 class="m-3">Edit the Listing:</h3>
        </div>
        <div class="col-6 offset-3">
            <img class="m-3 img-fluid edit-img" src="<%=data.image.url%>" alt="hotel image">
        </div>
        
        <div class="col-8 offset-2">
            <form method="post" action="/listings/edit/<%=data._id%>?_method=PATCH" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="m-3">
                    <label for="title" class="form-label">Title:</label>
                    <input id="title" class="form-control" name="title" value="<%=data.title%>" type="text" required>
                    <div class="invalid-feedback">
                        Please choose a Title.
                    </div>
                </div>
                <div class="m-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea rows="3" cols="100" name="description" id="description" class="form-control" required><%=data.description%></textarea>
                    <div class="invalid-feedback">
                        Description should be of valid length
                    </div>
                </div>
                <div class="m-3">
                    <label for="image" class="form-label">Choose File</label>
                    <input name="image" type="file" placeholder="Paste the image Link here" id="image" accept="image/*" class="form-control"></input>
                    <div class="invalid-feedback">
                        Image link should be valid
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="m-3">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" id="price" class="form-control" value="<%=data.price%>" name="price" required>
                            <div class="invalid-feedback">
                                Price should not be empty
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="m-3">
                            <label for="location" class="form-label">Location:</label>
                            <input type="text" id="location" class="form-control" value="<%=data.location%>" name="location" required>
                            <div class="invalid-feedback">
                                Enter a valid Location
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" id="country" class="form-control" value="<%=data.country%>" name="country" required>
                    <div class="invalid-feedback">
                        Enter a valid Country
                    </div>
                </div>
                <button class="btn m-3 btn-outline editpage-button">Submit</button>
            </form>
        </div>
    </div>
</body>
<!-- </html> -->