<%-layout("/layouts/boilerplate")%>
<body>
    
    <h3>All Listings</h3>
    <div class="index-listings-div">
        <%for(item of data){%>
            <a href="/listings/<%=item._id%>" class="listing-link">
        <div class="card index-cards">
            <img src="<%= item.image%>" class="card-img-top" alt="...">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <h5 class="card-title"><%=item.title%></h5>
                <p class="card-text">&#x20B9;<%=item.price.toLocaleString("en-IN")%> / Night</p>
            </div>
        </div>
            <br><br>
            </a>
        <%}%>
    </div>
</body>