<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscapeNest | </title>
</head> -->
<%-layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-3">
            <h3 class="mb-3 mt-3">Listing Details</h3>
        </div>
        <div class="col-6 offset-3">
            <div class="card view-card">
                <img  class="card-img show-img" src="<%=data.image%>" alt="hotel Image">
                <div class="card-body">
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p> -->
                    <h5 class="card-title"><%=data.title%></h5>
                    <p class="card-text"><%=data.description%></p>
                    <ul>
                        <li>Price: &#x20B9;<%=data.price.toLocaleString("en-IN")%></li>
                        <li>Location: <%=data.location%></li>
                        <li>Country: <%=data.country%></li>
                    </ul>
                    <a class="btn btn-outline btn-sm editpage-button" href="/listings/edit/<%=data._id%>">Edit</a>
                    <form style="display:inline-block" method="post" action="/listings/<%=data._id%>?_method=DELETE">
                        <button class="btn btn-dark btn-sm">Delete</button>
                    </form>
                </div>
                <!-- <button onclick="window.location.href='/listings/edit/<%=data._id%>'">Edit</button>  -->
            </div>
        </div>
    </div>
</body>