<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscapeNest | </title>
</head> -->
<%-layout("/layouts/boilerplate")%>
<body>
    <script> 
    let mapToken="<%=process.env.MAP_TOKEN%>"
    const coordinates= <%- JSON.stringify(data.geometry) || 'null' %>;
        
    
    </script>
    <div class="row">
        <div class="col-8 offset-3">
            <h3 class="mb-3 mt-3"><%=data.title%></h3>
        </div>
        <div class="col-6 offset-3">
            <div class="card view-card">
                <img  class="card-img show-img" src="<%=data.image.url%>" alt="hotel Image">
                <div class="card-body">
                    <p>Owned By: <%=data.owner.username%></p>
                    <p class="card-text"><%=data.description%></p>
                    <ul>
                        <li>Price: &#x20B9;<%=data.price.toLocaleString("en-IN")%></li>
                        <li>Location: <%=data.location%></li>
                        <li>Country: <%=data.country%></li>
                    </ul>
                    <%if(currentUser){%>
                    <%if(currentUser.username===data.owner.username){%>
                    <a class="btn btn-outline btn-sm editpage-button" href="/listings/edit/<%=data._id%>">Edit</a>
                    <form style="display:inline-block" method="post" action="/listings/<%=data._id%>?_method=DELETE">
                        <button class="btn btn-dark btn-sm">Delete</button>
                    </form>
                    <%}%>
                    <%}%>
                </div>
                <!-- <button onclick="window.location.href='/listings/edit/<%=data._id%>'">Edit</button>  -->
            </div>
        </div>
        <%if(data.geometry){%>
        <div class="col-8 offset-3 mb-3">
            <h3>Where you'll be</h3>
            <div id="map"></div>
        </div>
        <%}%>

        <%if(currentUser){%>
        <div class="col-8 offset-1 mt-3 mb-3 rating-div">
            <h4 class=" mb-3">Leave a review:</h4>
            <form action="/listings/<%=data._id%>/reviews" method="post" class="needs-validation" novalidate>
                <div>
                    <label for="rating" class="form-label">Give a Rating: </label> <br>
                    <fieldset class="starability-grow rating">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comments:</label>
                    <textarea name="review[comment]" class="form-control" 
                    id="comment" placeholder="Enter the comment here..." required></textarea>
                    <div class="invalid-feedback">
                        Enter a valid Comment!
                    </div>
                </div>
                <button class="submit-comment-button btn btn-outline mb-3">Submit</button>
            </form>
        </div>
        <%}%>
        <div clas="col-8 offset-3 mt-3 mb-3">
            <%if(data.reviews.length>0){%>
                <h4 class="offset-1" >All Reviews:</h4>
            <%}%>
            <div class="comment-section-div mb-3">
                <% for(review of data.reviews){%>
                <div class="card col-3 m-3">
                    <div class="card-header">
                        <%for(let rand=0;rand < review.rating;rand++){%>
                            &#11088;
                        <%}%>
                        
                        
                    </div>
                    <div class="card-body">
                        <figure>
                        <blockquote class="blockquote">
                            <p><%= review.comment%></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Posted by @<%=review.author.username%> on <cite ><%=review.createdAt.toLocaleString('en-IN', { day: 'numeric', month: 'short', year: 'numeric',hour: '2-digit', minute: '2-digit', hour12: true })%></cite>
                        </figcaption>
                        </figure>
                        <%if(currentUser && currentUser.username===review.author.username){%>
                        <form method="post" action="/listings/<%=data._id%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn-outline-dark btn-sm">Delete</button>
                        </form>
                        <%}%>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
    <script src="/js/map.js"></script>
</body>